<div id="footer">
  <div class="footer-links">
    <small>
      <a href="mailto:marcbeep@gmail.com"><span class="material-symbols-rounded" style="font-size: 16px; vertical-align: middle;">mail</span> Email</a>
      <a href="https://github.com/marcbeep"><span class="material-symbols-rounded" style="font-size: 16px; vertical-align: middle;">code</span> Github</a>
      <a href="https://linkedin.com/in/marcbeep"><span class="material-symbols-rounded" style="font-size: 16px; vertical-align: middle;">person</span> LinkedIn</a>
      <a href="https://youtube.com/@marcsfieldnotes"><span class="material-symbols-rounded" style="font-size: 16px; vertical-align: middle;">play_circle</span> YouTube</a>
      <br />
      Made with ❤️ & ☕️ by Marc Beepath
    </small>
  </div>

  <hr class="footer-divider" />

  <div class="newsletter-link-box">
    <a href="https://marcbeep.substack.com">
      <span class="material-symbols-rounded" style="font-size: 18px; vertical-align: middle;">mail</span> Read my newsletter
    </a>
  </div>
</div>
