<div id="footer">
  <div class="footer-links">
    <small>
      <a href="mailto:marcbeep@gmail.com">Email</a>
      <a href="https://github.com/marcbeep">Github</a>
      <a href="https://linkedin.com/in/marcbeep">LinkedIn</a>
      <a href="https://youtube.com/@marcsfieldnotes">YouTube</a>
      <br />
      Made with ❤️ & ☕️ by Marc Beepath
    </small>
  </div>

  <hr class="footer-divider" />

  <div class="newsletter-link-box">
    <a href="https://marcbeep.substack.com">
      📬 Read my newsletter
    </a>
  </div>
</div>
