.hll {
  background-color: rgba(68, 71, 90, 0.5);
}

/* Comments */
.c,
.cm,
.c1,
.cs {
  color: #bd93f9;
}

/* Error */
.err {
  color: #ff5555;
  background-color: rgba(255, 85, 85, 0.2);
}

/* Keywords */
.k,
.kc,
.kd,
.kn,
.kp,
.kr,
.kt {
  color: #ff79c6;
}

/* Operators */
.o,
.ow {
  color: #8be9fd;
}

/* Numbers */
.m,
.mf,
.mh,
.mi,
.mo,
.il {
  color: #ffb86c;
}

/* Strings */
.s,
.sb,
.sc,
.sd,
.s2,
.se,
.sh,
.si,
.sx,
.s1,
.ss {
  color: #50fa7b;
}

/* Name.Attribute and Builtins */
.na,
.nb {
  color: #8be9fd;
}

/* Classes, Constants, Decorators */
.nc,
.no,
.nd {
  color: #bd93f9;
}

/* Entities */
.ni {
  color: #f8f8f2;
}

/* Exceptions */
.ne {
  color: #ff5555;
}

/* Functions, Labels, Namespaces */
.nf,
.nl,
.nn {
  color: #8be9fd;
}

/* Tags */
.nt {
  color: #ff79c6;
}

/* Variables */
.nv,
.vc,
.vg,
.vi {
  color: #f8f8f2;
}

/* Whitespace */
.w {
  color: #f8f8f2;
}

/* Builtin Pseudo */
.bp {
  color: #8be9fd;
}

/* Generic Subheading */
.gu {
  color: #8be9fd;
}

/* Generic Traceback */
.gt {
  color: #50fa7b;
}

/* Generic Emphasis (italic) */
.ge {
  font-style: italic;
}

/* Generic Error */
.gr {
  color: #ff5555;
}

/* Generic Heading */
.gh {
  color: #ff79c6;
}

/* Generic Inserted */
.gi {
  color: #50fa7b;
}

/* Generic Prompt */
.gp {
  color: #8be9fd;
}

/* Additional CSS for CSS files */
.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #8be9fd;
}
