.hll {
  background-color: #e2e2e5;
}

/* Comments */
.c,
.cm,
.c1,
.cs {
  color: #757575;
}

/* Error */
.err,
.ne,
.gr {
  color: #b00020;
  background-color: rgba(176, 0, 32, 0.1);
}

/* Keywords */
.k,
.kc,
.kd,
.kn,
.kp,
.kr,
.kt,
.gh {
  color: #a926a9;
}

/* Operators */
.o,
.ow,
.bp,
.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #005cc5;
}

/* Numbers */
.m,
.mf,
.mh,
.mi,
.mo,
.il {
  color: #d17a00;
}

/* Strings */
.s,
.sb,
.sc,
.sd,
.s2,
.se,
.sh,
.si,
.sx,
.s1,
.ss,
.gt {
  color: #008000;
}

/* Attributes and Builtins */
.na,
.nb,
.nf,
.nl,
.nn,
.gu,
.gp {
  color: #005cc5;
}

/* Classes, Constants, Decorators */
.nc,
.no,
.nd {
  color: #2b91af;
}

/* Exceptions */
.err,
.ne {
  color: #b00020;
}

/* Tags */
.nt {
  color: #b30086;
}

/* Variables */
.nv,
.vc,
.vg,
.vi {
  color: #44475a;
}

/* Whitespace */
.w {
  color: #44475a;
}

/* Emphasis */
.ge {
  font-style: italic;
}

/* Generic Inserted */
.gi {
  color: #008000;
}

/* Background for code blocks */
code,
pre {
  background-color: #f4f4f4;
}

/* Pre block styling */
pre {
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  font-family: "Martian Mono", monospace;
  overflow: auto;
}

/* Inline code */
code {
  padding: 0.15rem 0.4rem;
  font-family: "Martian Mono", monospace;
}
